/* Import de la font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Style sur toute la page web */
* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Style du body */
body {

    position: relative;
    font-family: "Poppins";
    background-image: url("assets/background-img/bg-spider-man.png");
    width: 100%;
    height: 100%;

}
/* Style du body avant que le body se charge, pour mettre le fond au second plan et le menu au premier plan */
body::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -1;
}

/* Style du header */
header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1650px;
    margin: 0 auto;
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

/* Style qui s'applique seulement sur la div droite du header */
header .right {

    display: flex;
    align-items: center;
}

/* Style s'appliquant sur le premier élément <a> de la div gauche du header */
header .left a:nth-child(1) {

    color: white !important;

}

header a {

    color: #adadad;
    font-size: 2em;
}

/* Style qui s'applique à tout les <a> de la div gauche */
header .left a {

    margin-right: 80px;
}

/* Style qui s'applique à tout les <a> de la div droite */
header .right a {

    margin-right: 60px;
}

header .right span {

    font-size: 2em;
    color: white;
    margin-left: 20px;
    font-weight: 100;
}

header .right a img {

    border-radius: 50%;
    margin-top: 5px;
}

/* Style du caroussel (vignettes central) */
#carousel {

    margin-top: 30px;
	position: relative;
    height: 200px;
}

/* Style appliqués à toutes les divs du carroussel */
#carousel div {

	position: absolute;
    opacity: 1;
    transition: 0.4s;
}

/* Style appliqués à toute les images */
#carousel img {

    width: 175px;
    border-radius: 30px;
    transition: 0.2s;
    cursor: pointer;
}

/* Style appliqués aux divs caché à gauche */
#carousel .hideLeft {

	left: -190px;
	opacity: 0;
}

/* Style appliqués aux images des divs caché à gauche */
#carousel .hideLeft img {

	width: 110px;
}

/* Style appliqués aux divs caché à droite */
#carousel .hideRight {

	left: 685px;
	opacity: 0;
}

/* Style appliqués aux images des divs caché à droite */
#carousel .hideRight img {

	width: 110px;
}

/* Style appliqués à la div d'avant l'image central */
#carousel .prev {

	z-index: 5;
	left: 80px;
}

/* Style appliqués à l'image de la div d'avant l'image central */
#carousel .prev img {

	width: 110px;
}

/* Style appliqués à la div deux positions avant l'iamge central */
#carousel .prevLeftSecond {

	z-index: 4;
	left: -55px;
}

/* Style appliqués à l'image de la div deux positions avant l'image cental */
#carousel .prevLeftSecond img {

	width: 110px;
}

/* Style appliqués à la div de l'image central */
#carousel .selected {

	z-index: 1;
    left: 215px;

}

/* Style appliqué à l'image de la div central */
#carousel .selected img {

    border: 3px solid transparent;
    box-shadow: 0px 0px 0px 3px #adadad;
}

/* Style appliqués à la div d'après l'image central */
#carousel .next {

	z-index: 5;
	left: 415px;
}

/* Style appliqués à l'image de la div d'après l'image central */
#carousel .next img {

	width: 110px;
}

/* Style appliqués à la div deux positions après l'iamge central */
#carousel .nextRightSecond {

	z-index: 4;
	left: 550px;
}

/* Style appliqués à l'iamge de la div deux positions après l'image central */
#carousel .nextRightSecond img {

	width: 110px;
}

/* Style du titre à coté de la vignette du jeu */ 
#carousel .selected section span {

    color: #adadad;
    font-size: 1.6em;
    font-weight: 400;
    margin-left: 5px;
    position: relative;
    bottom: 40px;

}

/* Style du titre pour dire que quand on clique sur la vignette central on affiche pas le titre pour les autres jeux */ 
#carousel :not(.selected) section span {

    display: none;

}

